<a href="/restaurants">Back</a>
<a href="/restaurants/{{rest.id}}/edit">edit</a>
<form action="/restaurants/{{ rest.id }}?_method=DELETE" method="post" style="display: inline;">
  <button type="submit">delete</button>
</form>
<ul>
  <ul>{{re.name}}
    <li>{{rest.name_en}}</li>
    <li>{{rest.category}}</li>
    <li>{{rest.image}}</li>
    <li>{{rest.location}}</li>
    <li>{{rest.phone}}</li>
    <li>{{rest.google_map}}</li>
    <li>{{rest.description}}</li>
  </ul>
</ul>